---
import Article from "@/components/Article.astro";
---

<Article title='Sobre Mi'>
  <p>
  Hola, soy <strong>Nahuel</strong>.
    Un desarrollador Frontend con una formación autodidacta, adquirida a través de recursos como plataformas en línea y cursos especializados en desarrollo web, JavaScript y desarrollo fullstack. A lo largo de mi carrera, he cultivado una experiencia práctica diaria que me ha permitido fortalecer mis habilidades técnicas.
    Me especializo en el desarrollo frontend, particularmente con <strong>React.js</strong> y <strong>AngularJs</strong>.
  </p>
</Article>

<style>
  p{
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 450;
    margin: 0 20px;
  }
</style>
