---
import Article from "@/components/Article.astro";
import { aboutMe } from '@cv'

const { description } = aboutMe
---

<Article title='Sobre Mi'>
  <p>
    {description}
  </p>
</Article>

<style>
  p{
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 450;
    margin: 0 20px;
  }
</style>
