---

import About from '@/components/sections/About.astro'
import Experience from '@/components/sections/Experience.astro'
import Projects from '@/components/sections/Projects.astro'
import Skills from '@/components/sections/Skills.astro'
import Service from '@/components/sections/Service.astro'
---
<section>
  <About/>
  <Experience/>
  <Projects/>
  <Skills/>
  <Service/>
</section>

<style>
  section{
    padding-top: 71px;
    width: 60%;
    height: 100%;
    background-color: #1d2024
  }
</style>
