
---
import Article from '@/components/Article.astro'
---
<Article title='Mi Servicio'>
  <div>
    <p>Creo páginas web personalizadas que se ajustan a las necesidades específicas de cada proyecto. Actualmente, me especializo en la creación de sitios web informativos, claros y fáciles de navegar. Todos mis diseños son responsive, lo que significa que se adaptan perfectamente a cualquier dispositivo, desde ordenadores hasta móviles. Mi enfoque es proporcionar una experiencia de usuario intuitiva y un diseño atractivo que refleje la identidad de tu marca.</p>
    <span>

    <button>Contratar Servicio</button>
    </span>
  </div>
</Article>

<style>

  p{
    font-size: 1.2rem;
    padding: 18px;
  }
  span{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  span button{
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
  }

  span button:hover{
    background-color: #000;
    color: #fff;
  }
</style>
