
---
import Article from '@/components/Article.astro'
import {services} from '@cv'
---
<Article title='Mi Servicio'>
  <div>
    <p>{services.description}</p>
    <span>
      <a href="/contact">

        <button>Contratar Servicio</button>
      </a>
    </span>
  </div>
</Article>

<style>

  p{
    font-size: 1.2rem;
    padding: 18px;
  }
  span{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  span button{
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
  }

  span button:hover{
    background-color: #000;
    color: #fff;
  }
</style>
